$primary: #303f9f;
$accent: #fdd835;
$primary-light: #666ad1;
$primary-dark: #001970;
$accent-light: #fdd835;
$accent-dark: #c6a700;
$text-light: #FFFFFF;
$text-dark: #000000;
$background: #FFFFFF;
$background-alt: #E1E2E1;
$background-alt-darker: #d8dad8;